// **************
// **************
// App Variables
// developer: Sklyarov Alexey
// **************
// **************


// **************
// App Fonts
// **************

$font: 'Nunito',sans-serif;



// **************
// App Colors
// **************

$mayablue: #54C1FB;

$cornflowrblue:#6D71F9;

$midnightblue:#272848;

$black:#3D3D3D;

$athensgrey:#EFF0F8;

$green:#73A32F;

$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
